* {
    margin: 0px;
}
#all {
    width: 75%;
    margin: auto;
/*    min-width: 600px;
    max-width: 960px;*/
    background-color: #e3e3e3;
    position: relative;
}

.top {
    background-color: #056130;
    height: 340px;
    }

.img1{
    border: red 10px solid;
    position: absolute;
    right: 30px;
    top:150px;
}

.med{
    height: 800px;
    padding-top: 40px; 
    display:grid;
    grid-gap: 40px;
    grid-template-columns:2fr 1fr;
    grid-template-rows: auto auto auto ;
}
h3{margin-top: 20px;
    margin-bottom: 20px;}
.hr-s{border:2px solid black; width: 20px}
.hr-b{border:1px solid black;}

.cont1{display:grid;
         grid-template-columns:1fr 2.5fr;
     }
.cont2{ }
.cont3{ grid-template-columns:1fr 2.5fr;
}
.cont4{
 }
.cont5{ 
display: grid;
    grid-template-columns:repeat(3,1fr);
}
.cont6{ 
}

.end{
    bottom: 0px;
    height: 100px;
    margin: auto;
    background-color: #056130;
    color: white;} 
.footer{
    display:flex;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    }
.footer p {font-size: 20px}









/*
    width: 200px;
    position: absolute;
    right: 0px;
    padding-top: 20px;
    
    padding-top: 20px;
    margin-right: 200px;
    background-color: white;

    margin: 1em;    */


